<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Scaffold</title>
 
 
</head>
 
<body>
	<h1 style="font-family:verdana;">
		Scaffold
	</h1>
	<h4 style="font-family:verdana;">	
	There are so many funny sub-headers I want to use as placeholders but for the sake of professionalism I am holding myself back.<br>

	</h4>
	<div class = "input features">
		<form>
			Please paste the text article you would like a scaffold of below!<br>
			<textarea rows="12" cols="80" id="article">				
			</textarea>	<br>
			<input type="button" value="Create Scaffold">
		</form>

	</div>

	<div class = "output features">


	</div>
    
</body>
 
</html>