<!--- Chrisitna Hammer -->
<!--- Last Edit: 11/15/2017-->
<!--- "index.html"-->

<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Scaffold</title>
 
</head>
 
<body>
	<h1 style="font-family:verdana;">
		Scaffold
	</h1>
	<h4 style="font-family:verdana;">	
		A tool to isolate the information used to build a text article.
	<br>
	<p><a href="{{ url_for('about_page') }}">About Scaffold</a></p>
	</h4>
	<div class = "input features">
		<form action="." method="POST">
			Please paste the text article you would like a scaffold of below!<br>
			<textarea rows="12" cols="80" name="article"></textarea>	<br>
			<input type="submit", name="create-scaffold" value="Create Scaffold">
			<input type="checkbox" name="feedback_mode" value=1> Use Feedback Mode
		</form>
	</div>

</body>
 
</html>