<!--- Chrisitna Hammer -->
<!--- Last Edit: 1/18/2017-->
<!--- "index.html"-->

<!DOCTYPE html>
<html lang="en">
<head>
	<style>
	body {
		font-family:helvetica;
	}

	h1 {
		color:#00CC99;
		font-size:18;
	}
	h4 {color:grey;
		font-family:helvetica;
	}
	h1, h4 {display:inline;}

	a:link, a:visited {
		color:white;
		text-decoration:none;
		background-color:#00CC99;
		text-align:center;
		padding: 10px 24px;
		display:inline-block;
		font-family:helvetica;
	}

	a:hover, a:active {
		color:#00CC99;
		background-color:white;
		text-decoration:none;
		
	}
	</style>
    <title>Scaffold</title>
 
</head>
 
<body>
	<h1>
		Scaffold
	</h1>
	<h4>	
		A tool to isolate the information used to build a text article.
	<br>
	<p>
		<a href="{{ url_for('tutorial_page') }}" target="_blank">Tutorial</a>
		<a href="{{ url_for('github_page') }}" target="_blank">Github Page</a>
	</p>
	</h4>
	<br>
	<div class = "input features">
		<form action="." method="POST">
			Please paste the text article you would like a scaffold of below!<br>
			<textarea rows="12" cols="80" name="article">{{original_text}}</textarea>	<br>
			<input type="submit", name="create-scaffold" value="Create Scaffold">
		</form>
	</div>

</body>
 
</html>